
.contact {
  display: flex;
  align-items: flex-end;
}
.contact > * {
  width: 50%;
}

.medic_info {
}

.medic_info > * {
  padding: 4px;
}

.emergency {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}
.emergency > * {
  width: 50%;
}

.save_button {
  position: fixed;
  bottom: 7rem;
  right: 2rem;
  z-index: 1;
}

.schedule {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.schedule_day {
  width: 50%;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar {
  margin-left: 2rem;
}

.day_title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: end;
}
.day_title div:first-child {
  margin-right: 8px;
}
.day_title > * {
}
.select {
  display: flex;
  justify-content: center;
}
.select_schedule {
  color: #fff;
  border: none;
  background-color: var(--bg-dark);
  padding: 4px;
  margin: 8px;
  font-size: 1.2rem;
  width: 110px;
  border-radius: 4px;
  -webkit-appearance: caret;
  margin-top: 0;
}

.new_record {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  gap: 8px;
}
.new_record > * {
  width: 45%;
}

@media (min-width: 600px) {
  
  .schedule_day {
    width: 20%;
  }
  .emergency > * {
    width: 30%;
  }
  .record > * {
    width: 20%;
  }
  .record_row > * {
    width: 15%;
    margin: 0 auto;
  }
  .new_record > * {
    width: 120px;
  }
}
