.athlete {
  background-color: var(--bg-dark);
  padding: 8px;
  border-radius: 8px;
  margin: 8px;
}
.athlete_row {
  display: flex;
  align-items: center;
  font-size: 2rem;
}
.athlete_action {
  background-color: var(--bg-dark);
  padding: 3px;
  border-radius: 8px;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sort_title{
  cursor: pointer;
}
.sort_title[select='true']{
  font-weight: 700;
}
@media (max-width: 600px) {
  .athlete_row{
    font-size: 1rem;
  }
}
