.text_input {
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  background-color: var(--bg-dark);
  color: var(--black);
  width: 100%;
}
.text_area {
  resize: none;
}
.select_input {
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  background-color: var(--bg-dark);
  color: var(--black);
  width: inherit;
  -webkit-appearance: none;
}

.text_input::after {
  background-color: var(--bg-dark);
}
.text_input:active {
  background-color: var(--bg-dark);
}
.input_label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 100%;
}
.input_label > * {
  width: 100%;
}

.input_error {
  width: 100%;
  text-align: left;
  font-size: 0.9rem;
  color: var(--danger);
}

.helperText {
  font-size: 0.8rem;
  font-weight: 300;
  display: flex;
  align-items: center;
}
.helperText div {
  margin: 0 4px;
}
.icon_container {
  display: flex;
}
.icon_container > .icon {
  margin: 4px;
  padding: 8px;
}
