.inputs {
  display: flex;
  flex-wrap: wrap;
}
.inputs > * {
  width: 100%;
  padding: 4px;
}

.contact {
  display: flex;
  align-items: flex-end;
}
.contact > * {
  width: 50%;
}

.medic_info {
}
.medic_info > * {
  padding: 4px;
}

.emergency {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}
.emergency > * {
  width: 50%;
}

.save_button {
  position: fixed;
  bottom: 7rem;
  right: 2rem;
  z-index: 1;
}

.schedule {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.schedule_day {
  width: 50%;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.record_row {
  display: flex;
  width: 100%;
  margin: 8px 0;
  flex-wrap: wrap;
}
.record_cell {
  width: 20%;
}
.record_cell:first-child {
  width: 25%;
}
.record_cell:nth-child(2) {
  width: 25%;
}
.record_cell:last-child {
  width: 10%;
}

.day_title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: end;
}
.day_title div:first-child {
  margin-right: 8px;
}
.day_title > * {
}
.select {
  display: flex;
  justify-content: center;
}
.select_schedule {
  color: #fff;
  border: none;
  background-color: var(--bg-dark);
  padding: 4px;
  margin: 8px;
  font-size: 1.2rem;
  width: 110px;
  border-radius: 4px;
  -webkit-appearance: caret;
}

.record {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: space-around;
}
.record > * {
  width: 40%;
}

@media (min-width: 600px) {
  .inputs > * {
    width: 50%;
    padding: 16px;
  }
  .schedule_day {
    width: 20%;
  }
  .emergency > * {
    width: 30%;
  }
  .record > * {
    width: 20%;
  }
}
