


.athlete_actions {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.athlete_action {
  background-color: var(--bg-dark);
  padding: 0 3px;
  border-radius: 16px;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  .athlete_row{
    font-size: 1rem;
  }
}
