

.athlete {
  background-color: var(--bg-dark);
  padding: 4px 8px;
  border-radius: 8px;
  margin: 4px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.athlete_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  width: 100%;
}
.athlete_actions {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.athlete_action {
  background-color: var(--bg-dark);
  padding: 0 3px;
  border-radius: 16px;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  .athlete_row{
    font-size: 1rem;
  }
}
