.avatar {
  border-radius: 50%;
  width: 68px;
  height: 68px;
  background-color: #404e5e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
.upload {
  opacity: 0.2;
  cursor: pointer;
}
.avatar:hover .upload {
  display: block;
  opacity: 1;
  z-index: 1;
}
.avatar > div {
  border-radius: 50%;
}
.avatar[size='sm'] {
  width: 39px;
  height: 39px;
}
.avatar[size='md'] {
  width: 68px;
  height: 68px;
}
.avatar[size='sm'] {
  width: 74px;
  height: 74px;
}
