html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: black;
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --bg-main: rgb(61, 69, 85);
  --bg-ligth: rgb(83, 83, 104);
  --bg-dark: rgb(45, 52, 66);
  --bg-trans: rgba(45, 52, 66, 0.568);

  --danger: rgb(224, 101, 101);

  --text-main: #fff;
  --text-light: rgb(194, 76, 76);
}
